<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933307644641-m712g4aeg8pqs003rtcbdqpbloe1ja2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933307644641-m712g4aeg8pqs003rtcbdqpbloe1ja2v</string>
	<key>API_KEY</key>
	<string>AIzaSyALRlIQLH6A5FLsj8UQkFUIGZtsCRsNZHE</string>
	<key>GCM_SENDER_ID</key>
	<string>933307644641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaito.ANGLERS</string>
	<key>PROJECT_ID</key>
	<string>anglers-fa576</string>
	<key>STORAGE_BUCKET</key>
	<string>anglers-fa576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933307644641:ios:40ccb99a538cc0055d15a0</string>
</dict>
</plist>